[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "nonlinearTseries"]
	path = nonlinearTseries
	url = https://github.com/constantino-garcia/nonlineartseries
